main {

}


html {
  background: rgba(168,210,219,255);
  background-image: repeating-linear-gradient(to right,
        transparent,
        transparent 80px,
        rgba(168,210,219,255) 80px,
        rgba(168,210,219,255) 160px);
    /* with multiple color stop lengths */
    background-image: repeating-linear-gradient(to right,
        transparent 0 80px,
        rgba(116,194,220,255)
 80px 160px);


);

}


#introp {
 position: absolute;
 left: 35%;
 top: 30%;
 text-align: center;
 width: 30%;
 margin: 0 auto;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
}




#nav_bar {

}
#nav_list {
  display: flex;
  justify-content: space-evenly;
  /*padding: 1%; */
  position: fixed;
  border-bottom:2px solid rgba(170,47,86,255);
  background: rgba(212,176,198,255);
  top: 0px;
  right: 0px;
  left: 0px;
margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 10px;

  flex: 1;
}

#home_link {

}

.nav_link {
  font-size: 20px;
  color: purple;
  text-decoration: none;
}
.nav_link:hover {

  font-size: 22px;
